@font-face
{
	font-family: "PressStart2P";
	src: url("../fonts/PressStart2P-Regular.ttf") format('truetype');
	font-weight: normal;
	font-style: normal;
}

body
{
    background-color: #2B3E50;
}

.card
{
    width: 22rem;
    margin: 15px;
}


.dropdown-toggle:active > .dropdown-menu
{
    position: absolute; 
    transform: translate3d(0px, 40px, 0px); 
    top: 0px; 
    left: 0px; 
    will-change: transform;
}

.jumbotron
{
    background-image: url("../images/computers.jpg");
    background-size: cover;
    text-align: center;
    border : 2px solid #00FE00;
}

.jumbotron h1
{
    color: #00FE00;
    font-family: "PressStart2P", Arial, Helvetica, sans-serif;
    border-radius: 15px;
    padding-top: 1em;
}

.jumbotron p
{
    color: black;
}

#home-row
{
    justify-content: center;
}

#home-text
{
    font-size: 1.1em;
    display : none;
}

#intro
{
    display: flex;
    justify-content: space-around;
    min-width: 50%;
}

#intro-text
{
    font-style: italic;
    font-size: 0.9em;
    visibility: hidden;
}

img
{
    max-height: 400px;
}

span
{
    font-weight: bold;
}

.table-secondary
{
    border: 1px solid white;
}


.shopping-list td
{
    padding: 10px;
    border: 2px solid #DF691A;
}

p
{
    text-align: justify;
}
.intro
{
    font-style: italic;
    font-size: 1.1em;
    color : lightgray;
}

blockquote
{
    border: 2px solid #DF691A;
    font-style: italic;
}

blockquote span
{
   float: right;
}




/* ------MEDIA QUERIES------- *//* ------MEDIA QUERIES------- *//* ------MEDIA QUERIES------- *//* ------MEDIA QUERIES------- *//* ------MEDIA QUERIES------- */

@media all and (max-width: 1024px)
{
    .display-2
    {
        max-width: 900px;
        font-size: 2.5rem ;
    }
}

@media all and (max-width: 480px)
{
    .display-2
    {
        font-size: 1.8rem ;
    }

    .card
    {
        width: 18rem;
        margin: 10px;
    }

    .mc-content
    {
        max-width: 400px;
        margin-left: 5px;
    }

    img
    {
        max-width: 400px;
    }

}