{% extends 'base.html.twig' %}

{% block title %}Retrobox - Les Mini-Consoles{% endblock %}

{% block body %}
    <h1>Mini-Consoles</h1>
    <article>
        <h2>NES Mini</h2>
        <div class="row">
            <div class="col-2">Année de sortie : 2018 </div>
            <div class="col-2">Prix : 80€ </div>
            <div class="col-2">Avis : Bon investissement</div>
            <img src="http://placehold.it/200x200" alt="">
        </div>
        <a href="{{ path('one-mini') }}" class="btn btn-primary">Voir</a>
    </article>
    <article>
        <h2>NES Mini</h2>
        <div class="row">
            <div class="col-2">Année de sortie : 2018 </div>
            <div class="col-2">Prix : 80€ </div>
            <div class="col-2">Avis : Bon investissement</div>
            <img src="http://placehold.it/200x200" alt="">
        </div>
        <a href="{{ path('one-mini') }}" class="btn btn-primary">Voir</a>
    </article>
    <article>
        <h2>NES Mini</h2>
        <div class="row">
            <div class="col-2">Année de sortie : 2018 </div>
            <div class="col-2">Prix : 80€ </div>
            <div class="col-2">Avis : Bon investissement</div>
            <img src="http://placehold.it/200x200" alt="">
        </div>
        <a href="{{ path('one-mini') }}" class="btn btn-primary">Voir</a>
    </article>
</div>
{% endblock %}
