{% extends 'base.html.twig' %}

{% block title %}Retrobox - Les Mini-Consoles{% endblock %}

{% block body %}
    <h2>NES Mini</h2>
    <div class="row">
        <div class="row">
            <div class="col-2">Année de sortie : 2018 </div>
            <div class="col-2">Prix : 80€ </div>
            <div class="col-2">Avis : Bon investissement</div>
        </div>
        <div class="row">
            <div class="col-6">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel temporibus illum 
                repudiandae iste totam autem fugiat atque odit ipsa velit dolores voluptatem sint 
                dicta expedita sunt, voluptas blanditiis assumenda beatae rerum laborum accusamus 
                nihil quidem quo? Eligendi culpa dolores animi.</p>
            </div>
        </div>
        <img class="col-6" src="http://placehold.it/600x400" alt="">
    </div>
    
    <div class="row">
            <ul>
                <li>
                    <h3>Liste des jeux disponibles</h3>
                </li>
                <li>Jeu au pif</li>
                <li>Jeu au pif</li>
                <li>Jeu au pif</li>
                <li>Jeu au pif</li>
                <li>Jeu au pif</li>
                <li>Jeu au pif</li>
                <li>Jeu au pif</li>
                <li>Jeu au pif</li>
                <li>Jeu au pif</li>
                <li>Jeu au pif</li>
                <li>Jeu au pif</li>
                <li>Jeu au pif</li>
                <li>Jeu au pif</li>
                <li>Jeu au pif</li>
                <li>Jeu au pif</li>
                <li>Jeu au pif</li>
                <li>Jeu au pif</li>
                <li>Jeu au pif</li>
                <li>Jeu au pif</li>
                <li>Jeu au pif</li>
                <li>Jeu au pif</li>
                <li>Jeu au pif</li>
                <li>Jeu au pif</li>
                <li>Jeu au pif</li>
                <li>Jeu au pif</li>
                <li>Jeu au pif</li>
                <li>Jeu au pif</li>
                <li>Jeu au pif</li>
                <li>Jeu au pif</li>
                <li>Jeu au pif</li>
                <li>Jeu au pif</li>
                <li>Jeu au pif</li>
                
            </ul>
        </div>
    </div>
{% endblock %}

